.message__container {
  height: 17rem;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  overflow-y: auto;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: 0.5rem;
    height: 1rem;
  }

  &::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
}

.message__chats {
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 400;
  font-style: normal;
  display: flex;
  flex-direction: column;
  margin-bottom: 0.3rem; 

}

.message__sender,
.message__recipient {
  max-width: 70%;
  padding: 0.5rem;
  position: relative;
  font-size: 0.8rem;
  word-wrap: break-word;
  border-radius: 2px; /* 메시지 박스의 테두리 둥글게 설정 */
  margin-bottom: 0.2rem; /* 메시지 간의 간격 설정 */
}

.message__sender {
  background-color: #ffc800;
  color: white;
  align-self: flex-end;
}

.message__recipient {
  background-color: #f1f0f0;
  color: black;
  align-self: flex-start;
}
