.PCfooter_root{
  position: fixed;
  bottom: 0;
  padding-bottom: 0.5rem;
}

.cheating {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  width: 4rem;
  height: 4rem;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: rgb(248, 189, 240);
}
