.List_root {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  padding: 0.2rem;
  border-radius: 3px;
  box-sizing: border-box;

  &::-webkit-scrollbar {
    width: 0.5rem;
    height: 1rem;
  }

  &::-webkit-scrollbar-thumb {
    background-color: transparent;
  }

  &:hover {
    &::-webkit-scrollbar-thumb {
      background-color: #ffdce1;
      border: 2px solid #ffdce1;
      border-radius: 12px;
    }
  }
}

.List_BtnTag {
  display: flex;
  width: 100%;
  height: 2.5rem;
  margin-bottom: 0.5rem;
  justify-content: flex-end;
}

.List_addBtn {
  display: flex;
  width: auto;
  height: 100%;
  border: 2px solid #24b4fb;
  background-color: #24b4fb;
  border-radius: 5px;
  cursor: pointer;
  padding: 0.2rem 0.5rem 0.2rem 0.5rem;
  transition: all ease-in-out 0.2s;
  box-sizing: border-box;

  &:hover{
    background-color: #0071e2;
  }
}

.List_addBtn_span{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.List_item {
  display: flex;
  justify-content: space-between;
  border-radius: 3px;
  box-sizing: border-box;
  transition: background-color 0.3s, box-shadow 0.3s;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  align-items: center;
  &:hover {
    cursor: pointer;
    background-color: #dcdcdc;
  }

  &.active {
    background-color: #dcdcdc;
  }
}

.MemoList_name {
  display: flex;
  gap: 0.5rem;
}

.List_item_title {
  font-size: 1.2rem;
  font-weight: bold;
}

.List_item_info {
  display: flex;
  justify-content: flex-end;
  white-space: nowrap;
  font-size: 0.5;
  font-weight: 400;
  color: #3c3c3c;
  display: flex;
  gap: 0.5rem;
}

.List_item_type {
  display: flex;
  justify-content: flex-end;
  gap: 0.2rem;
}

.List_item_crown {
  color: #ff9800;
}

.List_item_type.Checklist {
  color: #007bff;
}

.List_item_type.Note {
  color: #28a745;
}
