.MemoContent_root {
  width: 100%;
  height: 100%;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.MemoContent_info {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  box-sizing: border-box;
  border-bottom: solid 1px #b4b4b4;
  margin-bottom: 0.5rem;
}

.MemoContent_title_content {
  height: 3rem;
  font-weight: 700;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.MemoContent_createdDate,
.MemoContent_author,
.MemoContent_type,
.MemoContent_deadline {
  display: flex;
  margin-bottom: 0.5rem;
  gap: 0.5rem;
}

.MemoContent_createdDate_title,
.MemoContent_author_title,
.MemoContent_type_title,
.MemoContent_deadline_title {
  font-size: 20px;
  font-weight: 400;
  color: #b4b4b4;
  width: 10rem;
}

.MemoContent_createdDate_content,
.MemoContent_author_content,
.MemoContent_type_content,
.MemoContent_deadline_content {
  font-size: 20px;
  color: #111111;

  &.type {
    color: #b4b4b4;
  }
}

.MemoContent_note_content {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}

.MemoContent_note_content_content {
  width: 100%;
  height: 100%;
  padding: 0.5rem;
  border-radius: 4px;
  resize: vertical;
  font-size: 20px;
  box-sizing: border-box;
  border: none;

  &:focus {
    outline: none;
  }
}

.CheckboxList_input {
  width: 100%;
  padding: 0.5rem;
  border-radius: 4px;
  margin-bottom: 1.5rem;
  box-sizing: border-box;
  border: 1px solid #ddd;
  font-size: 20px;

  &:focus {
    border: 1px solid #007bff;
    outline: none;
  }
}

.CheckboxList_items {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: calc(100vh - 42vh);
  box-sizing: border-box;
  padding-right: 0.5rem;

  &::-webkit-scrollbar {
    width: 0.5rem;
    height: 1rem;
  }

  &::-webkit-scrollbar-thumb {
    background-color: transparent;
  }

  &:hover {
    &::-webkit-scrollbar-thumb {
      background-color: #ffdce1;
      border: 2px solid #ffdce1;
      border-radius: 12px;
    }
  }
}

.CheckboxList_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.5rem;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 20px;
}

.CheckboxList_item.completed {
  background-color: #f4f4f4;
  text-decoration: line-through;
}

.CheckboxList_item input[type="checkbox"] {
  margin-right: 0.5rem;
}

.CheckboxList_item span {
  flex: 1;
}

.CheckboxList_item_delete {
  color: #ff3232;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 1rem;
  padding: 0.5rem;
  width: 3rem;
  height: 3rem;
  box-sizing: border-box;
}

@media screen and (max-height: 800px) {
  .MemoContent_info {
    height: 35vh;
  }

  .CheckboxList_items {
    height: calc(100vh - 70vh);
  }
}
