.PCcalendar_main{
  padding: 0.5rem;
  width: calc(100vw - 3rem);
  flex: 1;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  overflow: hidden;
  gap: 0.5rem;
}

.PCcalendar_schedule{
  width: 15%;
  height: 91.7vh;
}

.PCcalendar_calendar{
  height: 91.7vh;
  flex: 1;
}

.PCcalendar_edit{
  width: 30%;
  height: 91.7vh;
}

@media screen and (max-height:800px) {
  .PCcalendar_schedule,
  .PCcalendar_main,
  .PCcalendar_edit {
    height: 87vh;
  }
}