.PCdashboard_main{
  padding: 0.5rem;
  width: calc(100vw - 3rem);
  flex: 1;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  overflow: hidden;
}

.PCdashboard_main_right {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 100%;
}

.PCdashboard_main_left {
  flex: 1;
  margin-left: 0.5rem;
}

.PCdashboard_line1{
  display: flex;
  width: 100%;
  height: 40%;
  margin-bottom: 0.5rem;
}

.PCdashboard_weekplan{
  width: 100%;
  height: 100%;
}

.PCdashboard_line2{
  width: 100%;
  height: 50%;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}

.PCdashboard_map{
  height: 66.5vh;
  width: 80%;
  overflow: hidden;
  border-radius: 5px;
  box-sizing: border-box;
}

.PCdashboard_place{
  height: 66.5vh;
  width: 20%;
}

.PCdashboard_memo{
  height: 91.7vh;
  width: 100%;
}

@media screen and (max-height: 800px) {
  .PCdashboard_map {
    height: 60vh;
  }
  .PCdashboard_place {
    height:60vh
  }
  .PCdashboard_memo{
    height: 87vh;
  }
}