@keyframes MemoslideIn {
  from {
    transform: translateX(100%); // 화면 밖에서 시작
  }
  to {
    transform: translateX(0); // 원래 위치로 이동
  }
}

@keyframes MemoslideOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

.PCMemo_main{
  padding: 0.5rem;
  width: calc(100vw - 3rem);
  flex: 1;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  overflow: hidden;
  gap: 0.5rem;
}

.PCMemo_list{
  width: 20%;
  height: 91.7vh;
}

.PCMemo_memo{
  height: 91.7vh;
  flex: 1;
  margin-right: 0.5rem;
}

.PCMemo_edit{
  display: flex;
  position: relative;
  width: 25%;
  height: 91.7vh;
  align-items: flex-start;
  z-index: 100;
  background-color: #ffffff;
  border: none;
  border-radius: 8px;

  &.slide-in {
    animation: MemoslideIn 0.5s ease-in-out;
  }

  &.slide-out {
    animation: MemoslideOut 0.5s ease-in-out;
  }

  &.hidden {
    display: none;
  }
}

.PCMemo_close_btn {
  display: flex;
  width: auto;
  height: auto;
  background-color: transparent;
  border: none;
  color: #111111; 
  font-size: 1rem;
  cursor: pointer;
  transition: color 0.3s;
}

.PCMemo_close_btn:hover {
  color: #ff4444;
  background-color: transparent;
}

@media screen and (max-height:800px) {
  .PCMemo_list,
  .PCMemo_memo,
  .PCMemo_edit {
    height: 87vh;
  }
}