.MemoModal_root {
  width: 100%;
  height: 100%;
  // padding: 0.5rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.MemoModal_content {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  justify-content: center;
}

.MemoModal_noMemos {
  font-size: 1rem;
  color: #666;
  text-align: center;
}

.memoItem_type {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  font-size: 0.8rem;
  border-radius: 50%;
  color: #ffffff;

  &.checklist {
    background-color: #007bff;
  }

  &.note {
    background-color: #28a745;
  }
}

.MemoModal_info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // box-sizing: border-box;
  // margin-bottom: 0.5rem;
  padding: 0.5rem;
  border-radius: 3px;

  &:hover {
    background-color: #ffbebe;
    cursor: pointer;
  }

  &.active {
    background-color: #ffbebe;
  }
}

.MemoModal_memoTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  gap: 1rem;
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #111111;
}

.MemoModal_memoDueDate {
  color: #464646;
}

.MemoModal_checklist {
  list-style: none;
  padding: 0;
  margin: 0;
}

.CheckboxList_item {
  display: flex;
  align-items: center;
  font-size: 1rem;
  color: #444;
}

.CheckboxList_item.completed span {
  text-decoration: line-through;
  color: #888;
}

.CheckboxList_item input[type="checkbox"] {
  margin-right: 0.5rem;
  cursor: pointer;
}

.MemoModal_note {
  padding: 1rem;
  background-color: #f9f9f9;
  border-bottom: 1px solid #ddd;
}

.MemoModal_noteText {
  margin: 0.5rem 0;
  font-size: 1rem;
  color: #333;
}

.MemoModal_root::-webkit-scrollbar {
  width: 0.5rem;
  height: 1rem;
}

.MemoModal_root::-webkit-scrollbar-thumb {
  background-color: #ffdce1;
  border: 2px solid #ffdce1;
  border-radius: 12px;
}
