.Weekplan_root {
  display: flex;
  height: 23vh;
  border-radius: 5px;
  padding: 1rem;
  background-color: #f9f9f9;
}

.Weekplan_week {
  display: flex;
  width: 100%;
  height: 100%;
}

.Weekplan_content {
  display: flex;
  flex-direction: column;
  flex: 1;
  border-right: 1px solid #dcdcdc;
  padding: 0.5rem;
}

.Weekplan_week > div:last-child {
  border-right: none;
}

.Weekplan_day {
  font-size: 1.1rem;
  font-weight: bold;
  text-align: center;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  border-bottom: solid 1px #888;
}

.Weekplan_day_schedule {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
}

.Weekplan_item_event {
  padding: 0.5rem;
}

.Weekplan_check{
  color: #FF5050;
}

.Weekplan_no_events {
  text-align: center;
  color: #888;
  padding: 1rem;
}
