.Weekplan_root{
  display: flex;
  height: 23vh;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 0.5rem;
  background-color: #f9f9f9; 
  transition: background-color 0.3s, box-shadow 0.3s;
}

.Weekplan_root:hover{
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.Weekplan_week {
  display: flex;
  width: 100%;
  height: 100%;
  // background-color: transparent;
  border-radius: 3px;
}

.Weekplan_content{
  display: flex;
  flex-direction: column;
}

.Weekplan_week > div {
  flex: 1;
  border-right: 1px groove #bebebe;
}

.Weekplan_week > div:last-child {
  border-right: none;
}

.Weekplan_day {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0.5rem;
  height: 1rem;
}

.Weekplan_day_schedule {
  padding: 0.5rem;
}